<% layout("layouts/boilerplate")%>
<h1>Log in</h1>
<!-- //This is the class we created for validation 
    in class, not a default name -->
<form action="/login" class="needs-validation" novalidate method="post">
  <!-- Username -->
  <div class="mb-4">
    <label class="form-label" for="username">Username:</label>
    <input
      class="form-control"
      type="text"
      name="username"
      required
      id="username"
    />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please enter your username.</div>
  </div>

  <!-- Password -->
  <div class="mb-4">
    <label class="form-label" for="password">Password:</label>
    <input
      class="form-control"
      type="password"
      name="password"
      required
      id="password"
    />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please enter your password.</div>
  </div>
  <button class="btn btn-success">Log in</button>
</form>
